@import "../chameleon/chameleon.scss";
@mixin mytheme {
  @include chameleon;
  
 .v-panel-borderpanel{
 border-style:solid;
 border-width:thick;
 border-color:black;
 overflow:hidden;
 background-color: azure;
}
.v-panel-borderpanel > div {
   background: transparent;
}

.v-label-labelstyle {
font-family: 'Helvetica';
font-size: 60px;
font-weight: bold;
color: black;
}

}